---
import Icon from "node_modules/astro-icon/components/Icon.astro";
import Button from "../Button.astro";
---

<Button variant="ghost" aria-label="Close menu" data-navbar-target="mobileClose" data-action="click->navbar#closeMenu">
  <Icon name="lucide:x" class="w-6 h-6" />
</Button>
