---
import { cn } from "src/lib/utils";
import { Image } from "astro:assets";

import type { ImageMetadata } from "astro";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"input"> & {
  image: ImageMetadata;
  reverse?: boolean;
  imageClass?: string;
};

const { image, reverse, class: className, imageClass } = Astro.props;
---

<div
  class={cn(
    "fixed h-[40vh] md:h-[50vh] 2xl:h-[60vh] aspect-4/2 pointer-events-none opacity-15 dark:opacity-10",
    reverse ? "left-0 top-0" : "right-0 bottom-0",
    className
  )}
  aria-hidden="true"
>
  <Image
    src={image}
    alt=""
    loading="eager"
    fetchpriority="high"
    widths={[640, 768, 1024, 1280, 1536, image.width]}
    sizes="(max-width: 768px) 100vw, (max-width: 1280px) 100vw, 100vw"
    class={cn(
      "absolute w-full h-full object-cover",
      reverse ? "object-bottom-left scale-y-[-1] scale-x-[-1]" : "object-bottom-right",
      imageClass
    )}
  />
</div>
